@using DreamCMS.Models
@{
    ViewBag.Title = "Trang chủ";
    ViewBag.Description = System.Text.RegularExpressions.Regex.Replace(Setting.Get("TopContact"), @"<[^>]*>", String.Empty);
    ViewBag.Keywords = Setting.Get("CompanyName");

    //Giới thiệu
    DreamCMS.Models.Page gt = ViewBag.GioiThieu;

    //8 sản phẩm
    List<Product> ListProduct = ViewBag.ListProduct;
    List<Product> ListProductKM = ViewBag.ListProductKM;

    //6 hoạt đông
    List<Post> ListPost = ViewBag.ListPost;

    //Đối tác
    List<Partner> ListPartner = ViewBag.ListPartner;

    //Slider
    List<SliderImg> ListSliderImg = ViewBag.ListSliderImg;
}

@section Slider{
    @if (ListSliderImg.Count > 0)
    {
    <!--slider-->
        <div class="container">
            <div class="row">
                <div id="rev_sliderHome_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0 auto;background-color:#E9E9E9;padding:0;margin-top:0;margin-bottom:15px;">
                    <div id="rev_sliderHome" class="rev_slider fullwidthabanner" style="display:none;">
                        <ul>
                            @foreach (SliderImg si in ListSliderImg)
                            {
                                <li data-transition="random" data-fstransition="fade" data-fsmasterspeed="300" data-link="@si.Link">
                                    <img src="@si.ImgUrl" alt="@si.TitleImg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <div class="caption sfl medium_grey" data-x="50" data-y="50" style="font-size: 40px;">@si.TitleImg</div>
                                </li>
                            }
                        </ul>
                        <div class="tp-bannertimer"></div>
                    </div>
                </div>
            </div>
        </div><!-- END slider-->
    <!--slider-->
    }
}


@section News_Video{
    @Html.Partial("_Layout/_News_Video")
}

<div class="panel panel-default panel-product">
    <div class="panel-heading">
        <h3 class="panel-title">SẢN PHẨM MỚI</h3>
    </div>
    <div class="panel-body">
        <div class="" id="tourpackages-carousel">
            <div class="row">
                @foreach (Product pd in ListProduct)
                {
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="thumbnail">
                            <a class="a-img-product" href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl" title="@pd.ProductName">
                                <div class="img-product" style="background: #fff url('@pd.ImgUrl');"></div>
                                <img src="@pd.ImgUrl" class="hidden" alt="@pd.ProductName">
                            </a>
                            <div class="caption">
                                <a class="title-product" href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl" title="@pd.ProductName"><h4>@pd.ProductName</h4></a>
                                <p class="des">@Html.Raw(pd.Intro)</p>
                                <div class="row-price-product">
                                    <a href="#" class="btn btn-info btn-xs" role="button">Giá : @pd.Price</a>
                                    <a href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl" class="btn btn-default btn-xs" role="button" title="@pd.ProductName">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-product">
    <div class="panel-heading">
        <h3 class="panel-title">SẢN PHẨM KHUYẾN MÃI</h3>
    </div>
    <div class="panel-body">
        <div class="" id="tourpackages-carousel">
            <div class="row">
                @foreach (Product pd in ListProductKM)
                {
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="a-img-product" href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl" title="@pd.ProductName">
                                <div class="img-product" style="background: #fff url('@pd.ImgUrl');"></div>
                                <img src="@pd.ImgUrl" class="hidden" alt="@pd.ProductName">
                            </a>
                            <div class="caption">
                                <a class="title-product" href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl" title="@pd.ProductName"><h4>@pd.ProductName</h4></a>
                                <p class="des">@Html.Raw(pd.Intro)</p>
                                <p>
                                    <a href="#" class="btn btn-info btn-xs" role="button">Giá : @pd.Price</a>
                                    <a href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl" class="btn btn-default btn-xs" role="button" title="@pd.ProductName">Chi tiết</a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(window).load(function () {
            $(".listVideo").click(function () {
                $a = $(this).attr("redr");
                $("#video-iframe").attr("src", "https://www.youtube.com/embed/" + $a);
            });
        });
        $("#flexiselDemo4").flexisel({
            visibleItems: 4,
            itemsToScroll: 2,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 2,
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 4,
                    itemsToScroll: 4,
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 3,
                    itemsToScroll: 4,
                },
            }
        });
    </script>
}