@using DreamCMS.Models
@{
    DBFrontEnd db = new DBFrontEnd();

    string VideoYoutube = Setting.Get("VideoYoutube");
    if (!string.IsNullOrEmpty(VideoYoutube)) { VideoYoutube = VideoYoutube.Replace("watch?v=", "embed/"); }
    string FacebookFanpage = Setting.Get("FacebookFanpage");
    string ContactFooter = Setting.Get("BottomContact");
    string TopContact = Setting.Get("TopContact");
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @Setting.Get("CompanyName")</title>

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="@ViewBag.Title - @Setting.Get("CompanyName")" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="ROBOTS" content="index, follow" />
    <meta name="author" content="http://www.baobitoanquoc.net@(Html.Raw(Request.RawUrl))" />
    <meta name="googlebot" content="noarchive" />
    <meta content="vi-VN" itemprop="inLanguage" />

    <meta itemprop="datePublished" content="@DateTime.Now.ToShortDateString()" />
    <meta itemprop="image" content="http://www.baobitoanquoc.net@(Html.Raw(ViewBag.ImageUrl))" />
    <meta itemprop="headline" content="@ViewBag.Title" />
    <meta itemprop="url" content="http://www.baobitoanquoc.net@(Html.Raw(Request.RawUrl))" />
    <meta itemprop="alternativeHeadline" content="@ViewBag.Title" />
    <meta itemprop="genre" content="@ViewBag.CategoryName" />

    <link rel="canonical" href="http://www.baobitoanquoc.net@(Html.Raw(Request.RawUrl))" />

    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.baobitoanquoc.net@(Html.Raw(Request.RawUrl))" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:image" content="http://www.baobitoanquoc.net@(Html.Raw(ViewBag.ImageUrl))" />
    <meta property="og:site_name" content="@Setting.Get("CompanyName")" />
    <meta property="og:updated_time" content="@DateTime.Now.ToShortDateString()" />
    <meta property="article:publisher" content="@Setting.Get("CompanyName")" />
    <meta property="article:published_time" itemprop="datePublished" content="@DateTime.Now.ToShortDateString()" />
    <meta property="article:section" content="@ViewBag.CategoryName" />
    @*<!-- Socail -->
    <meta property="fb:app_id" content="6228292377620800000" />*@
    @*<link href="https://plus.google.com/108890119457447921515000" rel="publisher" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--css-->
    <link href="~/assets/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/js/revslider/css/settings.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
    
</head>
<body style="background: #fff url(@Setting.Get("BackgroundWebUrl")) fixed;">
    <!-- LOADING -->
    

    <!-- [HEADER] -->
    <header class="header clearfix">
        <div class="container">
            <div class="row row-intro-top">
                <a class="logo col-sm-3" href="/"><img src="~/assets/img/logo.png" class="img-logo" alt="Cinque Terre"></a>
                <div class="slogan col-sm-8">
                   @Html.Raw(TopContact)
                </div>
            </div>
        </div>

        @Html.Partial("_Layout/_TopNavbar")
    </header>   

    @Html.Partial("_Layout/_Slider")

    <!-- [BODY] -->
    <div id="body">

        <div class="container">
            <div class="row content">
               
                @Html.Partial("_Layout/_Leftmenu")
                <div class="col-sm-9">
                    @RenderBody()
                </div>
            </div>
        </div>


       
    </div>

    <!-- [FOOTER] -->
    <footer>
        <div class="container" style="margin-bottom: 3vh">
            <div class="row">
             
                   @Html.Raw(ContactFooter)
              
                <div class="col-md-4 col-sm-6 paddingtop-bottom">
                    <div class="post">
                        <div id="property_map_home" style="width:100%;height:300px;"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 paddingtop-bottom">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnoithatotoducphat%2F&tabs=timeline&width=340&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" height="300" style="border:none;overflow:hidden;width:100%" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>© 2016 - All Rights with DREAM-CMS</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="bottom_ul">
                            <li><a href="http://dream-cms.com">dream-cms.com</a></li>
                            <li><a href="/gioi-thieu">Giới thiệu</a></li>
                            <li><a href="/tin-tuc">Tin tức</a></li>
                            <li><a href="/video">Videos</a></li>
                            <li><a href="/lien-he">Liên hệ</a></li>
                            <li><a href="/sitemap">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWM3Fvzg1pYsstSe_zw-sytbywovC9DzM"></script>
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

    <!-- JQUERY -->
    <script src="~/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/js/scrolltofixed/jquery-scrolltofixed-min.js" type="text/javascript"></script>
    <script src="~/assets/js/revslider/js/jquery.themepunch.plugins.min.js"></script>
    <script src="~/assets/js/revslider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/assets/js/main.js" type="text/javascript"></script>

    <!-- JavaScript library that detects HTML5 and CSS3 features in the user's browser -->
    <script src="~/assets/js/modernizr-2.8.3.min.js"></script>

    @RenderSection("scripts", required: false)

    @Html.Raw(Setting.Get("GoogleAnalytics"))

</body>
</html>
