@using DreamCMS.Models
@{
    DBFrontEnd db = new DBFrontEnd();
    var firstitem = db.Newss.Where(x => x.IsDisable == false).FirstOrDefault();
    List<News> ListNews= db.Newss.Where(x => x.IsDisable == false).ToList();
    if (ListNews == null) { ListNews = new List<News>(); }
    var set = db.Settings.Where(x => x.SettingId == 11).FirstOrDefault();
}


</div></div></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-news">
                <div class="panel-heading"><a href="/tin-tuc" style="color:#ed3237">TIN TỨC VÀ SỰ KIỆN</a></div>

                <div class="row">
                    <div class="col-sm-6">
                        <a href="/tin-tuc/@firstitem.TitleId" style="color: inherit;">
                            <div class="thumbnail"><img src="@firstitem.ImgUrl" /></div>
                            <h3 class="big-title">@firstitem.Title</h3>
                            <p>
                                @firstitem.Intro
                            </p>
                        </a>
</div>
                   
                    <div class="col-sm-6 news">
                        @foreach (News tin in ListNews)
                        {
                            <a href="/tin-tuc/@tin.TitleId" style="color: inherit;">
                                <div class="sma-news">
                                    <div class="thumbnail"><img src="@tin.ImgUrl" /></div>
                                    <h5 class="sma-title">@tin.Title</h5>
                                </div>
                            </a>     
                        }
                       

                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-news">
                <div class="panel-heading"><a href="/video" style="color:#ed3237">VIDEO</a></div>
                <div class="content">
                    <iframe style="width:100%;" height="300" src="@set.Value"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
