@model IEnumerable<DreamCMS.Models.Partner>

@{
    ViewBag.Title = "DS các đối tác";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink(DTextHTML.Create, "Create", null, new { @class = "btn btn-info" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanytName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanytName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink(DTextHTML.Edit, "Edit", new { id = item.PartnerId }, new { @class = "btn btn-xs green" })
            @Html.ActionLink(DTextHTML.Delete, "Delete", new { id = item.PartnerId }, new { @class = "btn btn-xs red" })
        </td>
    </tr>
}

</table>
