@using DreamCMS.Models
@using MvcPaging
@model IPagedList<Product>

@{
    ViewBag.Title = "Danh sách các sản phẩm";
    ViewBag.Description = "Các sản phẩm thuộc công ty,...";
    ViewBag.Keywords = "sản phẩm, danh sách, công ty";
}




<!-- SẢN PHẨM -->
@*<div class="well-edit well-product">
    <h4 class="h4"><span>Sản phẩm</span></h4>
    <div class="row">
        <div class="list-product">
            @foreach (Product pd in Model)
            {
                <div class="item-product">
                    <div class="item-product-img">
                        <a href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl"><img src="@pd.ImgUrl" alt="@pd.ProductName" /></a>
                    </div>
                    <a href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl"><h5>@pd.ProductName</h5></a>
                    <a href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl"><span class="view-more">Xem chi tiết</span></a>
                </div>
            }
        </div>
    </div>
</div>*@

<div class="panel panel-default panel-product">
    <div class="panel-heading">
        <h3 class="panel-title">SẢN PHẨM</h3>
    </div>
    <div class="panel-body">
        <div class="" id="tourpackages-carousel">
            <div class="row">
                @foreach (Product pd in Model)
                { <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="@pd.ImgUrl" alt="">
                            <div class="caption">
                                <h4>@pd.ProductName</h4>
                                <p class="des">@Html.Raw(pd.Intro)</p>
                                <p>
                                    <a href="#" class="btn btn-info btn-xs" role="button">Giá : @pd.Order</a>
                                    <a href="/san-pham/@pd.GroupProduct.SeoUrl/@pd.SeoUrl" class="btn btn-default btn-xs" role="button">Chi tiết</a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

