@model DreamCMS.Models.ShoppingCartModels
@{
    ViewBag.Title = "Giỏ hàng";
    ViewBag.Description = "Giỏ hàng";
    ViewBag.Keywords = "gio hang, cart, ...";
    ;
}

<style>
    .anthongtin {
        display:none !important;
    }
    .hienthongtin {
        display:block !important;
    }
</style>
<script type="text/javascript">
    
    function RemoveFromCart(id)
    {
        if (confirm('Bạn thực sự muốn xóa sản phẩm này khỏi giỏ hàng?'))
        {
            $.post("/ShoppingCart/RemoveFromCart", { "id": id },
            function (data) {
                if (data.Code == '0') {
                    alert('Xóa sản phẩm khỏi giỏ hàng thành công');
                    window.location = '/gio-hang';
                }
            });
        }
        return false;
    }
</script>


<div class="well-edit well-product">
    <h4 class="h4"><span>GIỎ HÀNG</span></h4>
   @if (Model != null && Model.Cart != null)
   {
    <table width="99%" class="table table-cart table-bordered" table-hovered" align="center" style="text-align:center;">
        <tr valign="middle" class="title-cart">
            <th width="30%">Hình ảnh</th>
            <th width="30%">Tên sản phẩm</th>
            <th width="30%">Giá</th>
            <th width="9%">Thao tác</th>
        </tr>
        @foreach (var item in Model.Cart.ListItem)
        {
            <tr>
                <td>
                    <div>
                        <img src="@item.ProductImage" style="float:left; margin-right: 15px; margin-left: 10px; max-width: 150px; max-height: 200px;" />

                    </div>
                </td>
                <td>@item.ProductName</td>
                <td>Liên hệ ngay</td>
                <td align="center"><img src="~/Upload/images/icon-del.png" onclick="return RemoveFromCart(@item.ProductID);" /></td>



            </tr>
        }
        <tr></tr>
        <tr></tr>
    </table>
    <br />
       if (Model.Cart.ListItem.Count > 0)
       {
           
    <input id="nutthanhtoan" type="button" value="LIÊN HỆ ĐẶT HÀNG" class="btn btn-lg btn-success" style="float:right !important;" onclick="return check();" />
       }
   }
    <br /><br /><br />
    <div id="thanhtoan">


        <div class="form-horizontal">
           
            <div class="form-group">
                <label class="control-label col-md-2" for="FullName">Họ và tên</label>
                <div class="col-md-10">
                    <input id="Name" name="Name" class="form-control text-box single-line" type="text" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="FullName">Email</label>
                <div class="col-md-10">
                    <input id="Email" name="Email"  class="form-control text-box single-line" type="email" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="FullName">Số điện thoại</label>
                <div class="col-md-10">
                    <input id="SDT" name="SDT" class="form-control text-box single-line" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <label  class="control-label col-md-2" for="FullName">Địa chỉ</label>
                <div class="col-md-10">
                    <input id="Adress" name="Adress" class="form-control text-box single-line" type="text" value="">
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2" for="FullName">Ghi Chú</label>
                <div class="col-md-10">
                    <textarea id="Des" name="Des" class="form-control text-box multi-line" rows="5"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="GỬI YÊU CẦU" type="button" class="btn btn-lg btn-success" onclick="return thanhtoan();" />
                </div>
            </div>
        </div>
        
  
    </div>

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $("#thanhtoan").addClass("anthongtin");
    });
    function check() {
        $("#thanhtoan").removeClass("anthongtin");
        $("#nutthanhtoan").addClass("anthongtin");
    }

    function thanhtoan() {
        var Name = $('#Name').val();
        var Email = $('#Email').val();
        var SDT = $('#SDT').val();
        var Adress = $('#Adress').val();
        var Des = $('#Des').val();

        var postURL = '@Url.Action("ThanhToan", "ShoppingCart")';
        if (Name != "" && Email != "" && SDT != "" && Adress != "") {
            $.post(postURL, { "Name": Name, "Email": Email, "SDT":SDT, "Adress": Adress, "Des": Des }, function (data) {
                if (data == "Error") {
                    alert("Error");
                } else if (data == "Successful") {
                    alert("Đã hoàn tất đơn hàng, chúng tôi sẽ liên hệ với bạn sớm nhất.");
                    location.href = "/";
                }
            });
        }
        else {
            alert("Vui lòng điền đầy đủ thông tin !")
        }
        return false;
    }
</script>
}


<br /><br />

