@using DreamCMS.Models

@{
    string lat = "10.8230989", lng = "106.6296638", GoogleMap = Setting.Get("GoogleMap");
    if (!string.IsNullOrWhiteSpace(GoogleMap))
    {
        string[] temp = GoogleMap.Split(',');
        lat = temp[0].Trim(); lng = temp[1].Trim();
    }
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @Setting.Get("CompanyName")</title>

    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="@ViewBag.Title - @Setting.Get("CompanyName")" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="ROBOTS" content="index, follow" />
    <meta name="author" content="http://www.baobitoanquoc.net@(Html.Raw(Request.RawUrl))" />
    <meta name="googlebot" content="noarchive" />
    <meta content="vi-VN" itemprop="inLanguage" />

    <meta itemprop="datePublished" content="@DateTime.Now.ToShortDateString()" />
    <meta itemprop="image" content="http://www.baobitoanquoc.net@(Html.Raw(ViewBag.ImageUrl))" />
    <meta itemprop="headline" content="@ViewBag.Title" />
    <meta itemprop="url" content="http://www.baobitoanquoc.net@(Html.Raw(Request.RawUrl))" />
    <meta itemprop="alternativeHeadline" content="@ViewBag.Title" />
    <meta itemprop="genre" content="@ViewBag.CategoryName" />

    <link rel="canonical" href="http://www.baobitoanquoc.net@(Html.Raw(Request.RawUrl))" />

    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.baobitoanquoc.net@(Html.Raw(Request.RawUrl))" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:image" content="http://www.baobitoanquoc.net@(Html.Raw(ViewBag.ImageUrl))" />
    <meta property="og:site_name" content="@Setting.Get("CompanyName")" />
    <meta property="og:updated_time" content="@DateTime.Now.ToShortDateString()" />
    <meta property="article:publisher" content="@Setting.Get("CompanyName")" />
    <meta property="article:published_time" itemprop="datePublished" content="@DateTime.Now.ToShortDateString()" />
    <meta property="article:section" content="@ViewBag.CategoryName" />
    @*<!-- Socail -->
    <meta property="fb:app_id" content="6228292377620800000" />*@
    @*<link href="https://plus.google.com/108890119457447921515000" rel="publisher" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--css-->
    <link href="~/assets/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/js/revslider/css/settings.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
    
</head>
<body style="background: #fff url(@Setting.Get("BackgroundWebUrl")) fixed;">
    <!-- LOADING -->
    

    <!-- [HEADER] -->
    <header class="header clearfix">
        <div class="container">
            <div class="row row-intro-top">
                <a class="logo col-sm-3" href="#"><img src="~/assets/img/logo.png" class="img-logo" alt="Cinque Terre"></a>
                <div class="slogan col-sm-8">
                    @Html.Raw(Setting.Get("TopContact"))
                </div>
            </div>
        </div>

        @Html.Partial("_Layout/_TopNavbar")
    </header>   

    @RenderSection("Slider", required: false)

    <!-- [BODY] -->
    <div id="body">

        <div class="container">
            <div class="row content">
                @Html.Partial("_Layout/_LeftMenu")

                <div class="col-sm-9">
                    @RenderBody()
                </div>
            </div>
        </div>

        @RenderSection("News_Video", required: false)
        
    </div>

    @Html.Partial("_Layout/_Footer")

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWM3Fvzg1pYsstSe_zw-sytbywovC9DzM"></script>
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    <script>
        var propertyMarkerInfoHome = { "lat": "@lat", "lang": "@lng", "icon": "/assets/img/villa-map-icon.png", "retinaIcon": "/assets/villa-map-icon@2x.png" };
    </script>

    <!-- JQUERY -->
    <script src="~/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/js/scrolltofixed/jquery-scrolltofixed-min.js" type="text/javascript"></script>
    <script src="~/assets/js/revslider/js/jquery.themepunch.plugins.min.js"></script>
    <script src="~/assets/js/revslider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/assets/js/main.js" type="text/javascript"></script>

    <!-- JavaScript library that detects HTML5 and CSS3 features in the user's browser -->
    <script src="~/assets/js/modernizr-2.8.3.min.js"></script>

    @RenderSection("scripts", required: false)

    @Html.Raw(Setting.Get("GoogleAnalytics"))

</body>
</html>
