@model IEnumerable<DreamCMS.Models.GroupProduct>

@{
    ViewBag.Title = "Danh sách nhóm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Thêm nhóm mới", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            Tên nhóm cha
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDisable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupProductParrent.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeoUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDisable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgUrl)
        </td>
        <td>
            @Html.ActionLink(DTextHTML.Edit, "Edit", new { id = item.GroupProductId }, new { @class = "btn btn-xs green" })
            @Html.ActionLink(DTextHTML.Delete, "Delete", new { id = item.GroupProductId }, new { @class = "btn btn-xs red" })
        </td>
    </tr>
}

</table>
